html,
body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.app-header {
	justify-content: center;
	align-items: center;
	position: absolute;
	display: flex;
	height: 60px;
	width: 100%;
	left: 0;
	top: 0;
}

.app-title {
	margin: 0;
}

.app-body {
	position: absolute;
	display: flex;
	width: 100%;
	top: 60px;
	bottom: 0;
	left: 0;
}

.lazy-load-button {
	margin: 10px auto;
	font-size: 16px;
	height: 30px;
}