<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Simple Webpack Example</title>
		<style><%= htmlWebpackPlugin.options.core %></style>
	</head>
	<body>
		<header class='app-header'>
			<h1 class='app-title'>Webpack Demo</h1>
		</header>
		<div class='app-body'>
			<button id='lazy-load-button' class='lazy-load-button'>Lazy Load some code</button>
		</div>
		<%= htmlWebpackPlugin.files.js.map(file =>
				`<script src='${file}'></script>`).join('')
		%>
	</body>
</html>